.bg-minha-marca {
    background-color: #172b3f
}

.text-azul {
    color:#0171ff
}

.text-justify {
    text-align: justify;
}

.widget-container {
  max-height: 450px;
}

.bg-azul {
    background-color:#0171ff
}